.videoBox {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 10px;
}

.videoBox .box1 {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 6px double rgba(131, 131, 131, 0.105); */
  padding: 10px;
}
.videoBox .box2 {
  position: relative;
  width: 100%;
  height: auto;

  /* border: 6px double rgba(131, 131, 131, 0.105); */
  /* padding: 10px; */
}
.views-span{
  margin-left: 10px;
}
.views-span i{
  vertical-align: middle;
}
@media screen and (max-width: 500px) {
  .videoBox .box2 {
    height: 100%;
  }
}
.video-js.vjs-ended .vjs-poster {
  display: block;
}
.videoBox .box1 h3 {
  color: #fff;
  text-align: center;
}
.videoBar {
  position: relative;
  display: flex;
  padding: 5px;
  margin-top: 5px;
  border-radius: 10px;
  background: #111;
}
.videoBar .social {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}
.videoBar h5 {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-top: 10px;
  width: 100%;
  text-transform: uppercase;
}
.icon-flash {
  margin-right: 5px;
  color: red;
  font-size: 20px;
  -webkit-animation: flash linear 1s infinite;
  animation: flash linear 2s infinite;
}
@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 500px) {
  .videoBox {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  .mobileButton {
    display: none !important;
  }
}
