.name {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.username{
  color:#fff;
  text-transform: uppercase;
  font-weight: 600;
}
.time {
  font-size: 14px;
  margin-left: 10px;
}

.message {
  border-bottom: 1px solid black;
  padding: 20px 0;
}
.message:last-child {
  border-bottom: 0;
}

.message .avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 10px;
  /* border-radius: 50%; */
}

.message .message-header {
  display: flex;
  align-content: flex-start;
  margin-bottom: 20px;
}

.message p {
  margin: 0;
  color: azure;
}

.message .btn {
  width: auto;
  margin-right: 10px;
}
