/* .containerCard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
}
.containerCard .box {
  position: relative;
  width: 450px;
  height: fit-content;
  color: #fff;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 50px;
}
.containerCard .box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #314ded, #aaa499);
  overflow: hidden;
}
.containerCard .box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #314ded, #aaa499);
  filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.containerCard .box span {
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
}
.container .box span::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  filter: blur(50px);
  pointer-events: none;
}
.containerCard .box .content {
  position: relative;
  z-index: 10;
  padding: 20px 40px;
}
.containerCard .box .content h2 {
  font-size: 1.2em;
  color: #fff;
  margin-bottom: 15px;
}
.containerCard .box .content p {
  font-size: 1.1em;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.4em;
}
.containerCard .box .content a {
  display: inline-block;
  font-size: 1.1em;
  color: #000;
  background: #fff;
  padding: 10px;
  text-decoration: none;
  font-weight: 700;
}
.containerCard input {
  background-color: rgb(240, 240, 240) !important;
}
.containerCard error {
  color: red;
}
.content .fb {
  background-color: #3b5998 !important;
  width: 100%;
  display: block;
  font-weight: 300 !important;
}
.content .google {
  background-color: #dd4b39 !important;
  width: 100%;
  display: block;
  font-weight: 300 !important;
} */
/* Test CSS */

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
section
{
  position: relative;
  width: 100%;
  height:100vh;
  display: flex;
}
section .imgBx{
  position: relative;
  width: 50%;
  height:100%;
}
/* section .imgBx:before{
  content: '';
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: linear-gradient(225deg, #0a0ad2, #7a7ad3, #213e5f);
  z-index: 1;
  mix-blend-mode: screen;
} */
/* section .imgBx img{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section .contentBx{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  
}
section .contentBx .formBx{
  width: 50%;
}
section .contentBx .formBx h1 {
  color:rgb(244, 244, 244);
  text-shadow: 0px 0px 30px rgb(0, 102, 255);
  font-weight: 800;
  font-size: 2.4em;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
section .contentBx .formBx h2 {
  color:rgb(244, 244, 244);
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid #185ae8;
  display: inline-block;
  letter-spacing: 1px;
}
section .contentBx .formBx .inputBx{
  margin-bottom: 20px;
}
section .contentBx .formBx .inputBx span{
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
}
section .contentBx .formBx .inputBx input{
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #1d6ee6;
  font-size: 16px;
  letter-spacing: 1px;
  color: rgb(247, 240, 240);
  background: transparent;
  border-radius: 30px;
}
section .contentBx .formBx .inputBx input[type="submit"]{
  background: #185ae8;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
section .contentBx .formBx .inputBx input[type="submit"]:hover{
  background: #5982dc;
}

@media (max-width: 768px){
  section
{
  position: relative;
  width: 100%;
  height:100vh;
  display: flex;
}
  section .imgBx
  {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
  }
  
  section .contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    
  }
  section .contentBx .formBx {
    margin-top: 0;
    width: 100%;
    padding: 40px;
    background: rgba(0, 0, 0, 0.598);
    margin: 50px;
    border-radius: 30px;
  }
} */