.login {
  height: 100%;
  display: flex;
  justify-content: center;
}

.login .container {
  max-width: 400px;
  flex: 1;
}

.fb {
  background-color: #3b5998 !important;
  color: white;
  width: 200px !important;
  display: block;
}

.google {
  background-color: #dd4b39 !important;
  color: white;
  width: 200px !important;
  display: block;
}

.login .logins {
  margin: 5px 0;
}
