* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content .button {
  position: relative;
  width: 140px;
  height: 40px;
  margin: 0 10px;
  border-radius: 10px;
  border: none;
  background: rgba(194, 22, 22, 0.968);
  color: #fff;
  font-weight: 500;
  letter-spacing: 1px;
  transition-duration: 0.4s;
}
.content img {
}
.content .button2 {
  background: rgb(12, 109, 227) !important;
}
.content .button2 a {
  text-decoration: none !important;
}
.content .button2:hover {
  background: rgba(34, 104, 189, 0.81) !important;
  transform: translateY(-5px);
  cursor: pointer;
}
.content .button:hover {
  background: rgba(142, 40, 40, 0.81);
  cursor: pointer;
  transform: translateY(-5px);
}
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: -90px;
  background: rgba(82, 113, 159, 0.255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.25;
}
.banner .content {
  position: relative;
  max-width: 750px;
  text-align: center;
}
.banner .content h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}
.banner .content h1 {
  color: #fff;
  font-size: 80px;
  font-weight: 900;
  letter-spacing: 1px;
  text-shadow: 0px 0px 30px rgba(0, 102, 255, 0.338);
}
.banner .content p {
  color: #fff;
  font-size: 18px;
}
footer {
  position: absolute;
  bottom: 0;
  color: #fff;
}
.footerBx {
  display: flex;
  margin: 0 10px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}
.footerBx a {
  text-decoration: none;
  margin: 5px;
  color: #bbb;
}
.footerBx a:hover {
  color: #fff;
}
@media (max-width: 991px) {
  .banner .content h2 {
    font-size: 30px;
    font-weight: 700;
  }
  .banner .content h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 1px;
  }
}
