.home-page .reseed-btn {
  width: 100%;
}

.home-page .name {
  font-size: 20px;
  font-weight: bold;
}
.homeBody {
  width: 100%;
  margin: 0 auto;
  /* border: 1px solid green; */
  min-height: calc(100% - 112px);
}
.homeBody .img{
  position: relative;
  
  height: 200px;
  width: 200px;
  border-radius: 20px;
}
