/node_modules
package-lock.json

/config/dev.js
/security/cert.key
/security/cert.pem
#/public

/.vscode
.env

!public/images
public/images/*
!public/images/avatar0.jpg
!public/images/avatar1.jpg
!public/images/avatar2.jpg

server/src/thumbnails/*
!server/thumbnails/.gitkeep

#ignore sessions but keep folder
server/src/sessions/*
!server/sessions/.gitkeep

# ignore media but keep folder
server/src/media/*
!server/media/.gitkeep