.profile .profile-info {
  display: flex;
  padding: 10px;
  padding-bottom: 20px;
  box-sizing: border-box;
  border: 2px solid rgb(148, 148, 148);
  max-width: fit-content;
  border-radius: 20px;
  background-color: rgba(77, 77, 77, 0.173);
  
}

.profile .avatar {
  border-radius: 20px;
  width: 220px;
  height: 220px;
  align-self: center;
  margin-right: 20px;
  object-fit: cover;
}
@media screen and (max-width: 500px) {
  .profile .avatar {
    width: 100px;
    height: 100px;
  }
}

.profile .label,
.profile label {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.profile .info {
  font-size: 18px;
}

.profile .info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.profile .btn {
  width: auto;
  margin-right: 10px;
  border: none;
  background: rgb(25, 130, 222);
  color: #fff;
}
.profile .btn2 {
  background: rgb(201, 46, 35);
  color: #fff;
}

.profile input {
  width: 50%;
  display: inline;
  height: 50px;
  font-size: 1rem;
}
@media screen and (max-width: 500px) {
  .profile input {
    width: 80%;
  display: block;
  height: 55px;
  }
}


.profile .form {
  /* display: flex; */
  padding: 10px;
  padding-bottom: 20px;
  box-sizing: border-box;
  border: 2px solid rgb(148, 148, 148);
  max-width: 500px;
  border-radius: 10px;
  margin-top: 10px;
  justify-content: center;
  background-color: rgba(77, 77, 77, 0.173);
  
}


.profile .header {
  font-family: 'Poppins' !important;
  font-weight: 700;
  font-size: 2.3rem !important;
  color: azure;
  text-shadow: 0px 0px 40px rgb(0, 102, 255);
  justify-content: center;
  text-align: center;
}