.containerCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.555);
  padding: 15px;

  margin: auto;
}
.profile {
  width: 350px !important;
  max-width: 500px;
}
