.containerCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.555);
  padding: 15px;

  margin: auto;
}
.users h5 {
  font-family: 'Poppins' !important;
  font-weight: 300;
  font-size: 1.1rem !important;
  color: rgb(255, 255, 255);
  /* justify-content: center;
  text-align: center; */
}
.editBtn {
  background: rgb(18, 96, 232);
  color: #fff;
  width: 100px;
  height: 50px;
  border: 3px solid rgb(18, 96, 232);
  position: absolute;
  margin: auto;
  right: 0px;
  left: 0px;
}
.profile {
  position: relative;
  width: 350px !important;
  max-width: 400px;
}
.header {
  color: aliceblue;
  text-align: center;
}
.profileEdit {
  margin-top: 70px;
}
.profileEdit label{
  color: aliceblue;
  font-size: 20px;
  margin-right: 5px;
  justify-content: left;
  align-items: flex-start;
  align-content: center;
}
.profileEdit input{
  color: rgb(0, 0, 0);
  width: 350px;
  display: list-item;
}
.profileEdit btn{
  display: flow-root !important; 
}