.logo {
  display: inline-block;
  color: white;
  margin: 0;
  font-size: 2.3rem;
  font-weight: 800;
  white-space: nowrap;
  letter-spacing: 1px;
}
@media screen and (max-width: 768px) {
  .logo {
    font-size: 1.2em;
  }
}

.nav-links {
  list-style: none;
  font-size: 1.2rem;
  display: flex;
  margin: 5px 0;
}

.nav-item {
  display: inline-flex;
  font-size: 1.2rem;
}
@media screen and (max-width: 500px) {
  .navbar-collapse  {
    font-size: 0.8em;
    text-align: center;
  }
}
.nav-item a {
  padding: 10px;
  text-decoration: none;
  color: rgb(177, 177, 177);
}

.nav-item:hover {
  color: white;
}

.nav-item:hover a {
  color: rgb(255, 255, 255);
}

.flex-1 {
  flex: 1;
}
.navbar .img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  align-self: center;
  object-fit: cover;
}
